# Define Event

Before we can analyze the event, we need to identify the boundaries of the event. We will accomplish this by

1. Defining the values to be classified as gains and losses
2. Creating a counts table defining the various events
3. Defining the porportion of patients with gain or loss to be considered significant
4. Identifying regions of gain and loss
5. Identifying regions where all cancer types meet criteria for gain or loss event.

## Setup

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import cptac
import numpy as np
import cnvutils

cptac warning: Your version of cptac (0.8.5) is out-of-date. Latest is 0.8.6. Please run 'pip install --upgrade cptac' to update it. (C:\Users\chels\anaconda3\envs\notebooks\lib\site-packages\ipykernel_launcher.py, line 4)

## Part 1: Define Parameters

These are the parameters that must be set for each analysis.

In [2]:
# The porportion of patients with gain or loss of a given gene to be considered
PATIENT_CUTOFF = 0.15
# The chromosome to be analyzed (should be a string)
CHROMOSOME = '5'
# The arm to be analyzed. Options are: 'p', 'q' or 'both'.
ARM = 'both'

In [3]:
# Here you will need to load in all the cancer types to be considered. We have listed all for convenience, simply comment
# out the cancer types you do not want to consider.
cnv = {
    'BRCA': cptac.Brca().get_CNV(),
#     'CCRCC': cptac.Ccrcc().get_CNV(),
#     'COLON': cptac.Colon().get_CNV(),
#     'ENDO': cptac.Endometrial().get_CNV(),
#     'GBM': cptac.Gbm().get_CNV(),
    'HNSCC': cptac.Hnscc().get_CNV(),
    'LSCC': cptac.Lscc().get_CNV(),
    'LUAD': cptac.Luad().get_CNV(),
    'OVARIAN': cptac.Ovarian().get_CNV()
}

cptac warning: The HNSCC data is currently strictly reserved for CPTAC investigators. Otherwise, you are not authorized to access these data. Additionally, even after these data become publicly available, they will be subject to a publication embargo (see https://proteomics.cancer.gov/data-portal/about/data-use-agreement or enter cptac.embargo() to open the webpage for more details). (C:\Users\chels\anaconda3\envs\notebooks\lib\site-packages\ipykernel_launcher.py, line 9)

cptac warning: The LSCC data is currently strictly reserved for CPTAC investigators. Otherwise, you are not authorized to access these data. Additionally, even after these data become publicly available, they will be subject to a publication embargo (see https://proteomics.cancer.gov/data-portal/about/data-use-agreement or enter cptac.embargo() to open the webpage for more details). (C:\Users\chels\anaconda3\envs\notebooks\lib\site-packages\ipykernel_launcher.py, line 10)

## Part 2: Determine Cutoffs

In [4]:
counts = cnvutils.get_counts_table()

C:\Users\chels\anaconda3\envs\notebooks\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
cutoffs = dict()
for cancer_type in cnv.keys():
    df = cnv[cancer_type]
    cutoffs[cancer_type] = len(df) * PATIENT_CUTOFF

## Part 3: Subset Event

In [7]:
counts = counts[(counts.chromosome == CHROMOSOME)]
if ARM != 'both':
    counts = counts[counts.arm == ARM]

## Find Loss Regions

In [9]:
df = counts
loss_event_locations = dict()
for cancer in cnv.keys():
    df_loss = df[(df.variable == 'loss') & (df.cancer == cancer)].sort_values('start_bp')
    print(len(df_loss))
    values = list(df_loss.value)
    loss_events = list()
    start = None
    for i in range(0, len(values)):
        val = values[i]
        if val > cutoffs[cancer]:
            if start is None:
                start = i
        else:
            if start is not None:
                loss_events.append((start, i))
                start = None
    if start is not None:
        loss_events.append((start, len(values)-1))
    event_locations = list()
    for event in loss_events:
        start_bp = df_loss.iloc[event[0]].start_bp
        end_bp = df_loss.iloc[event[1]].start_bp
        event_locations.append((start_bp, end_bp-start_bp))
    loss_event_locations[cancer] = event_locations

976
2853
1003
818
759

In [11]:
loss_event_patients = list()
for cancer in loss_event_locations.keys():
    events = loss_event_locations[cancer]
    for event in events:
        start = event[0]
        end = event[0] + event[1]
        loss_event_patients.append((start, 1))
        loss_event_patients.append((end, 0))
#     patients += list(gain_event_locations[cancer])
loss_event_patients.sort()

In [13]:
count = 0
current_bp = 0
start = list()
end = list()
size = list()
total = list()
for patient in loss_event_patients:
    if patient[0] != current_bp:
        start.append(current_bp)
        end.append(patient[0])
        size.append(patient[0]-current_bp)
        total.append(count)
        current_bp = patient[0]
    if patient[1] == 1:
        count += 1
    else:
        count -= 1
loss_event_data = pd.DataFrame({'start': start, 'end': end, 'counts': total, 'length': size})

In [14]:
loss_event_data

          start          end  counts      length
0           0.0   38474668.0       0  38474668.0
1    38474668.0   38937920.0       1    463252.0
2    38937920.0   45254948.0       0   6317028.0
3    45254948.0   50396192.0       1   5141244.0
4    50396192.0   51383448.0       3    987256.0
5    51383448.0   86617928.0       4  35234480.0
6    86617928.0  118836074.0       5  32218146.0
7   118836074.0  148169733.0       4  29333659.0
8   148169733.0  149271859.0       3   1102126.0
9   149271859.0  150660874.0       4   1389015.0
10  150660874.0  151212150.0       3    551276.0
11  151212150.0  154445997.0       4   3233847.0
12  154445997.0  154712843.0       3    266846.0
13  154712843.0  156919292.0       4   2206449.0
14  156919292.0  157671533.0       3    752241.0
15  157671533.0  158695916.0       4   1024383.0
16  158695916.0  159314780.0       3    618864.0
17  159314780.0  159318042.0       4      3262.0
18  159318042.0  159865080.0       3    547038.0
19  159865080.0  161288429.0       4   1423349.0
20  161288429.0  171861549.0       3  10573120.0
21  171861549.0  177301198.0       4   5439649.0
22  177301198.0  177707981.0       3    406783.0
23  177707981.0  180988846.0       4   3280865.0
24  180988846.0  181040225.0       5     51379.0
25  181040225.0  181254417.0       4    214192.0
26  181254417.0  181261169.0       3      6752.0
27  181261169.0  181291673.0       2     30504.0
28  181291673.0  181367268.0       1     75595.0

## Find Gain Regions

In [15]:
df = counts
gain_event_locations = dict()
for cancer in cnv.keys():
    df_gain = df[(df.variable == 'gain') & (df.cancer == cancer)].sort_values('start_bp')
    values = list(df_gain.value)
    gain_events = list()
    start = None
    for i in range(0, len(values)):
        val = values[i]
        if val > cutoffs[cancer]:
            if start is None:
                start = i
        else:
            if start is not None:
                gain_events.append((start, i))
                start = None
    if start is not None:
        gain_events.append((start, len(values)-1))
    event_locations = list()
    for event in gain_events:
        start_bp = df_gain.iloc[event[0]].start_bp
        end_bp = df_gain.iloc[event[1]].start_bp
        
        event_locations.append((start_bp, end_bp-start_bp))
    gain_event_locations[cancer] = event_locations

In [16]:
gain_event_patients = list()
for cancer in gain_event_locations.keys():
    events = gain_event_locations[cancer]
    for event in events:
        start = event[0]
        end = event[0] + event[1]
        gain_event_patients.append((start, 1))
        gain_event_patients.append((end, 0))
#     patients += list(gain_event_locations[cancer])
gain_event_patients.sort()

In [17]:
count = 0
current_bp = 0
# results = list()
start = list()
end = list()
size = list()
total = list()
for patient in gain_event_patients:
    if patient[0] != current_bp:
        start.append(current_bp)
        end.append(patient[0])
        size.append(patient[0]-current_bp)
        total.append(count)
#         results.append((current_bp, patient[0], count))
        current_bp = patient[0]
    if patient[1] == 1:
        count += 1
    else:
        count -= 1
gain_event_data = pd.DataFrame({'start': start, 'end': end, 'counts': total, 'length': size})

In [18]:
gain_event_data

          start          end  counts      length
0           0.0      58198.0       0     58198.0
1       58198.0      92151.0       1     33953.0
2       92151.0   50396192.0       5  50304041.0
3    50396192.0   50665899.0       3    269707.0
4    50665899.0   51383448.0       2    717549.0
5    51383448.0   52787916.0       1   1404468.0
6    52787916.0  138561043.0       0  85773127.0
7   138561043.0  147585438.0       0   9024395.0
8   147585438.0  148025683.0       1    440245.0
9   148025683.0  148169733.0       2    144050.0
10  148169733.0  148202794.0       1     33061.0
11  148202794.0  149062313.0       2    859519.0
12  149062313.0  151276762.0       1   2214449.0
13  151276762.0  151661096.0       0    384334.0
14  151661096.0  152391532.0       1    730436.0
15  152391532.0  153489615.0       2   1098083.0
16  153489615.0  154712843.0       1   1223228.0
17  154712843.0  156919292.0       2   2206449.0
18  156919292.0  157266079.0       1    346787.0
19  157266079.0  181254417.0       2  23988338.0
20  181254417.0  181367268.0       1    112851.0