# Find proteins outside the 8p loss event (trans) that are commonly different between samples with and without the event

## Setup

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ttest_results_file = "8p_transeffects.tsv"

ttest_results = pd.\
read_csv(ttest_results_file, sep="\t").\
rename(columns={"Name": "protein"}).\
set_index("protein")

In [3]:
ttest_results[ttest_results.index == "XPO7"]

Empty DataFrame
Columns: [luad_Database_ID, lscc_Database_ID, ovarian_Database_ID, colon_pvalue, hnscc_pvalue, lscc_pvalue, luad_pvalue, ovarian_pvalue, colon_diff, hnscc_diff, lscc_diff, luad_diff, ovarian_diff]
Index: []

## Reshape the input dataframe
We want to get our table to have these columns:
- cancer_type
- protein
- Database_ID
- change
- p_value

Since some cancer types have database IDs and some don't, we'll slice out and reshape the info for each cancer type individually.

In [4]:
cancer_types = sorted(ttest_results.columns.to_series().str.split("_", n=1, expand=True)[0].unique())

long_results = pd.DataFrame()

for cancer_type in cancer_types:
    cancer_df = ttest_results.\
    loc[:, ttest_results.columns.str.startswith(cancer_type)].\
    dropna(axis="index", how="all").\
    reset_index(drop=False)
    
    # If the cancer type has database IDs, make a separate column that has them.
    # If not, create a column of NaNs (so that the tables all match)
    if f"{cancer_type}_Database_ID" in cancer_df.columns:
        cancer_df = cancer_df.rename(columns={f"{cancer_type}_Database_ID": "Database_ID"})
    else:
        cancer_df = cancer_df.assign(Database_ID=np.nan)
        
    # Rename the pvalue and diff columns to not have the cancer type
    cancer_df = cancer_df.rename(columns={
        f"{cancer_type}_pvalue": "adj_p",
        f"{cancer_type}_diff": "change"
    }).\
    assign(cancer_type=cancer_type)
    
    # Reorder the columns
    cancer_df = cancer_df[["cancer_type", "protein", "Database_ID", "adj_p", "change"]]
    
    # Append to the overall dataframe
    long_results = long_results.append(cancer_df)

# Drop duplicate rows and reset the index
long_results = long_results[~long_results.duplicated(keep=False)].\
reset_index(drop=True)

In [5]:
long_results

      cancer_type   protein   Database_ID     adj_p    change
0           colon      A1BG           NaN  0.832246 -0.119042
1           colon       A2M           NaN  0.869778 -0.081407
2           colon      AAAS           NaN  0.672573 -0.100606
3           colon      AACS           NaN  0.701137  0.089959
4           colon     AAGAB           NaN  0.757541 -0.078345
5           colon      AAK1           NaN  0.906862  0.025289
6           colon     AAMDC           NaN  0.994357 -0.003264
7           colon      AAMP           NaN  0.670440 -0.085926
8           colon      AAR2           NaN  0.472136  0.119473
9           colon     AARS2           NaN  0.341617  0.138317
10          colon  AASDHPPT           NaN  0.710986 -0.075543
11          colon      AASS           NaN  0.839206  0.062852
12          colon      AATF           NaN  0.653653  0.090817
13          colon      ABAT           NaN  0.818891  0.145978
14          colon     ABCA8           NaN  0.860612  0.082475
15          colon     ABCB1           NaN  0.681728  0.175383
16          colon    ABCB10           NaN  0.899732  0.035473
17          colon     ABCB6           NaN  0.563596 -0.126755
18          colon     ABCB7           NaN  0.377044  0.162089
19          colon     ABCB8           NaN  0.689277  0.083067
20          colon     ABCC1           NaN  0.779343 -0.056317
21          colon     ABCC3           NaN  0.993853 -0.003923
22          colon     ABCC4           NaN  0.710986  0.088084
23          colon     ABCD1           NaN  0.922973 -0.056968
24          colon     ABCD3           NaN  0.984923 -0.005829
25          colon     ABCE1           NaN  0.988046  0.003403
26          colon     ABCF1           NaN  0.453357  0.085709
27          colon     ABCF2           NaN  0.670216  0.070105
28          colon     ABCF3           NaN  0.927556  0.015720
29          colon    ABHD10           NaN  0.624065 -0.103764
...           ...       ...           ...       ...       ...
28688     ovarian    ZNF185  NP_001171579  0.995675 -0.069685
28689     ovarian    ZNF185  NP_001171578  0.995675 -0.069896
28690     ovarian     ZNF22     NP_008894  0.949234 -0.090903
28691     ovarian     ZNF24     NP_008896  0.995675 -0.030404
28692     ovarian    ZNF316  NP_001265488  0.968689  0.097297
28693     ovarian    ZNF326     NP_892021  0.943699 -0.101895
28694     ovarian    ZNF326     NP_861446  0.983804 -0.087574
28695     ovarian    ZNF330     NP_055302  0.999239  0.012784
28696     ovarian    ZNF384  NP_001129206  0.925269  0.103493
28697     ovarian    ZNF397  NP_001128650  0.995675 -0.040227
28698     ovarian    ZNF451  NP_001026794  0.995675  0.024873
28699     ovarian    ZNF512     NP_115810  0.995675  0.085051
28700     ovarian    ZNF574  NP_001317448  0.999239 -0.002677
28701     ovarian    ZNF598     NP_835461  0.947212  0.112523
28702     ovarian    ZNF622     NP_219482  0.995675  0.059947
28703     ovarian    ZNF687  NP_001291693  0.989972  0.060101
28704     ovarian    ZNF706  NP_001035975  0.999239  0.011468
28705     ovarian    ZNF768     NP_078947  0.997522 -0.014101
28706     ovarian    ZNF787  NP_001002836  0.933344 -0.131934
28707     ovarian    ZNF800     NP_789784  0.999239  0.003918
28708     ovarian    ZNF830     NP_443089  0.995675 -0.036027
28709     ovarian     ZNFX1     NP_066363  0.995675  0.019691
28710     ovarian    ZNHIT2     NP_055020  0.887217 -0.134550
28711     ovarian     ZNRF2     NP_667339  0.999239  0.000644
28712     ovarian      ZPR1     NP_003895  0.999239  0.005612
28713     ovarian    ZRANB2     NP_976225  0.829152  0.140988
28714     ovarian      ZW10     NP_004715  0.995675  0.019092
28715     ovarian    ZWILCH     NP_060445  0.968689  0.151539
28716     ovarian       ZYX  NP_001010972  0.995675  0.043107
28717     ovarian     ZZEF1     NP_055928  0.995675  0.031593

[28718 rows x 5 columns]

## Select the proteins with a significant change

In [6]:
prots = long_results[long_results["adj_p"] <= 0.05].reset_index(drop=True)

## Find how many cancers each protein was different in

In [7]:
prots_summary = prots.groupby("protein").agg(**{
    "cancers": ("cancer_type", lambda x: x.sort_values().drop_duplicates(keep="first").tolist())
})

prots_summary = prots_summary.\
assign(
    num_cancers=prots_summary["cancers"].apply(len),
    tmp_sort=prots_summary["cancers"].apply(lambda x: "".join(x))
).\
sort_values(by=["num_cancers", "tmp_sort"], ascending=[False, True]).\
drop(columns="tmp_sort")

prots_summary

                cancers  num_cancers
protein
ATP6V1A   [colon, luad]            2
ATP6V1E1  [colon, luad]            2
ATP6V1H   [colon, luad]            2
ATP6V1G1        [colon]            1
CRELD2          [colon]            1
DNAJC19         [colon]            1
ERP29           [colon]            1
NDUFAF2         [colon]            1
NUCB2           [colon]            1
PDIA3           [colon]            1
RAD50           [colon]            1
BAG5            [hnscc]            1
CD5             [hnscc]            1
CLSTN1          [hnscc]            1
CYP7B1          [hnscc]            1
FAHD1           [hnscc]            1
FKBP3           [hnscc]            1
GPNMB           [hnscc]            1
HSP90AA1        [hnscc]            1
SMAP2           [hnscc]            1
TMPRSS4         [hnscc]            1
TRAPPC6A        [hnscc]            1
AASS             [luad]            1
ARG1             [luad]            1
ATP9A            [luad]            1
BLVRA            [luad]            1
BRMS1            [luad]            1
CAPRIN1          [luad]            1
CBL              [luad]            1
CHIT1            [luad]            1
...                 ...          ...
FBXL20           [luad]            1
FGR              [luad]            1
GPR89A           [luad]            1
GTF2E1           [luad]            1
HSPB1            [luad]            1
LEMD2            [luad]            1
LMTK2            [luad]            1
MET              [luad]            1
MGST1            [luad]            1
MTMR6            [luad]            1
NCOA2            [luad]            1
NDUFA2           [luad]            1
NUP50            [luad]            1
POM121C          [luad]            1
PPIB             [luad]            1
RASGRP2          [luad]            1
RCC1             [luad]            1
RCSD1            [luad]            1
SOD2             [luad]            1
STAU2            [luad]            1
STK3             [luad]            1
TBC1D10C         [luad]            1
THEM6            [luad]            1
TMEM209          [luad]            1
TNIP2            [luad]            1
TRAPPC12         [luad]            1
TRAPPC8          [luad]            1
TXNDC17          [luad]            1
TXNDC5           [luad]            1
WASL             [luad]            1

[66 rows x 2 columns]